.weather-card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 12px;
  background-color: var(--dark-gray);
  overflow: hidden;
  border: 2px solid var(--dark-gray);

  &__date {
    text-align: left;
    font-weight: bold;
    font-size: 2.75em;
    width: 100%;
    line-height: 1.0;
    padding: 0.5em;
    border-bottom: 2px solid var(--dark-gray);

    &-text {
      font-size: 0.55em;
      color: rgba(255, 255, 255, 0.57);
    }
  }

  &__data {
    position: relative;
    display: flex;
    width: 100%;

    &__temperature {
      font-size: 2em;
    }

    &__day,
    &__night {
      width: calc(50% - 4em);
      padding: 4em 2em;
      font-weight: bold;
    }

    &__day {
      color: #333333;
      background: linear-gradient(to bottom, #87CEEB, #B0E0E6, #CAE1FF, #E0FFFF, #FFFFFF);
    }

    &__night {
      background: linear-gradient(to bottom, #000000, #050729, #060830, #070937, #080a3e, #090b45, #0a0c4c, #0b0d53, #0c0e5a, #0d0f61);
    }

    &__graphic {
      opacity: 0.4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}